.env
*.session
*.session-journal
__pycache__/
*.pyo
*.pyd
*~
*.swp
/data/ # Папка для кошиків та лічильника

# Python envs
.venv/
venv/
ENV/
env/

# Python cache
__pycache__/
*.pyc


# IDE
.vscode/
.cursor/
